/* Modal overlay to cover the background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content box */
  .modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 70dvw;
    height: 60dvh;
    /* max-width: 600px; */
    position: relative;
    overflow-y: auto !important;
    border: 2px solid rgba(255, 166, 0, 0.803);
    /* background-image: url('C:\603 CoWorking\603-boq\public\modal-bg.jpeg');
    backdrop-filter: blur(100px); */
  }
  .question-modal{
    height: 40dvh;
    width: 50dvw;
  }
  .modal-product-details{
    max-width: 100%;
    max-height: 100%;
  }
  /* Close button */
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 2px solid #000;
    font-size: 1.5rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  .modal-variant-img{
    height: 250px;
    width: 50%;
    object-fit: contain;
    background: #fff0f0;
  }
  .variant-sides-img{
    width: 10dvw;
    /* display: flex;
    flex-direction: column; */
    gap: 5px;
  }

  .variant-thumbnail {
    max-width: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: border 0.3s ease;
    border: 2px solid gray;
  }
  
  .variant-thumbnail:hover {
    border: 2px solid #4caf50; /* Green border on hover */
  }
  
  .highlighted-thumbnail {
    border: 2px solid #2196f3 !important; /* Blue border for the active (main) image */
    scale: 1.2;
  }
  
  .addons-container{
    width: 40dvw;
  }
  @media (max-width:768px){
    .modal-variant-img{
      height: 200px;
    }
    .modal-content {
      width: 90vw; /* Take up 90% of the viewport width */
    }
    .addons-container{
      width: 50dvw;
    }
  }
  @media(max-width:500px){
    .modal-content {
      height: 90lvh;
    }
    .modal-product-details{
      flex-direction: column;
    }
    .modal-product{
      flex-direction: column-reverse;
    }
    .modal-variant-img{
      height: 150px;
    }
    .variant-sides-img{
      width: 100%;
      flex-direction: row;
    }
    .variant-thumbnail{
      margin-right: 10px;
    }
  }
  
  