.main-content{
    display: flex;
    justify-content: space-between;
}
.products-list{
    display: flex;
    justify-content: space-between;
}
.product-details{
    width: 45%;
    border: 1px solid gray;
}
.main-image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px sol #ddd;
    margin: 1rem auto;
    border-radius: 10px;
}
